<section class="addpostwrapper">
  <mat-card>
    <form #postForm="ngForm" (ngSubmit)="addPost(postForm)">
      <mat-form-field class="example-full-width">
        <input
          matInput
          placeholder="Post Title"
          name="title"
          #title="ngModel"
          required
          ngModel
        />
        <mat-error *ngIf="title.invalid">Please enter a Title.</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <textarea
          name="content"
          matInput
          rows="2"
          placeholder="Leave a comment"
          required
          ngModel
          #content="ngModel"
        ></textarea>
        <mat-error *ngIf="content.invalid">Please enter some content</mat-error>
      </mat-form-field>
      <div>
        <button mat-button mat-raised-button color="accent" type="submit">
          Submit
        </button>
      </div>
    </form>
  </mat-card>
</section>
